data/xml/inventoryEntries.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="positions">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="position">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product_id" type="xs:integer"/>
                        </xs:sequence>
						<xs:attribute name="section" type="xs:integer" />
						<xs:attribute name="place" type="xs:integer" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="optionValuesMustBeUnique">
			<xs:selector xpath="position" />
			<xs:field xpath="@section" />
			<xs:field xpath="@place" />
		</xs:unique>
    </xs:element>

    <xs:simpleType name="shelfType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema> 